body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #f1f1f1;
	margin-bottom: 200px;
}

a {
	color: #1470cc;
	text-decoration : none;
}

a:hover {
	color: #3399ff;
}

#nav-container {
  color: #fff;
  padding: 10px 0px 10px 0px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#313131));
  background-image: -webkit-linear-gradient(top, #555555, #313131);
  background-image: -o-linear-gradient(top, #555555, #313131);
  background-image: linear-gradient(to bottom, #555555, #313131);
  background-image: -moz-linear-gradient(top, #555555, #313131);
  background-repeat: repeat-x;
  border-bottom: 1px solid #0f0f0f;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff313131', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

#navbar {
	width:900px;
	margin:auto;
}

#wrap {
	width:900px;
	margin:auto;
}

#cols {
	width:900px;
	margin: auto;
	margin-bottom: 20px;
}

#left {
	width:248px;
	padding: 5px 0px 5px 0px;
	margin-top: 5px;
	border-top: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	float: left;
}

/* MENIU-LATERAL */

.meniu-lateral ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.meniu-lateral li a {
	color: #000000;
	text-decoration: none;
  	height: 27px;
	font-weight:bold;
	font-size:12px;
}
	
.meniu-lateral li a:link, .meniu-lateral li a:visited {
	display: block;
	padding: 10px 0 0 30px;
}
	
.meniu-lateral li a:hover {
	display: block;
	background-color: #f9f9f9;
	padding: 10px 0 0 30px;
}

.facebook a {
	background-image: url(../img/social/facebook.png); 
	background-repeat: no-repeat; 
	background-position: left; 
	color: #ffffff;
}

.twitter a {
	background-image: url(../img/social/twitter.png); 
	background-repeat: no-repeat; 
	background-position: left; 
	color: #ffffff;
}

.google a {
	background-image: url(../img/social/google.png); 
	background-repeat: no-repeat; 
	background-position: left; 
	color: #ffffff;
}

#right {
	width:638px;
	padding: 10px 5px 5px 5px;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	float: left;
}